<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div>
        <input id="searchText" type="text" />
        <input type="button" id="search" style="width: 120px; height: 25px;" value="Search Property" onclick="searchPlaces();" />
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
            var currentLatitude = 19.0760;
            var currentLongitude = 72.8777;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        currentLatitude = position.coords.latitude;
                        currentLongitude = position.coords.longitude;
                        locationAjax(currentLatitude, currentLongitude);
                    },
                    (error) => {
                        locationAjax(currentLatitude, currentLongitude);
                    },
                    {
                        timeout: 5000
                    });
            } else {
                locationAjax(currentLatitude, currentLongitude);
            }
        }

        function locationAjax(currentLatitude, currentLongitude) {
            var data = {
                Latitude: currentLatitude,
                Longitude: currentLongitude
            };

            $.ajax({
                url: '@Url.Content("~/Home/Index")',
                type: 'POST',
                data: data,
                success: (places) => {
                    var contentString = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                        '<div id="bodyContent">' +
                        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                        'sandstone rock formation in the southern part of the ' +
                        'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                        'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                        '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                        'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                        'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                        'Aboriginal people of the area. It has many springs, waterholes, ' +
                        'rock caves and ancient paintings. Uluru is listed as a World ' +
                        'Heritage Site.</p>' +
                        '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                        'https://en.wikipedia.org/w/index.php?title=Uluru</a> ' +
                        '(last visited June 22, 2009).</p>' +
                        '</div>' +
                        '</div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: data.Latitude, lng: data.Longitude },
                        zoom: 13
                    });
                    $.each(places, (index, place) => {
                        var marker = new google.maps.Marker({
                            position: { lat: place.Latitude, lng: place.Longitude },
                            map: map,
                            title: place.Title
                        });
                        marker.addListener('click', function () {
                            infowindow.open(map, marker);
                        });
                    });
                    map.addListener('click', function (e) {
                        placeMarkerAndPanTo(e.latLng, map);
                    });
                }
            });
        }

        function placeMarkerAndPanTo(latLng, map) {
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            map.panTo(latLng);
        }

        function searchPlaces() {
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            map.panTo(latLng);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyTJrODYxJimFuICozf7XSzzPsfUTCTcU&callback=initMap" async defer></script>
</body>
</html>